{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <h1>Adicionar um novo café</h1>
            <form action="{{ url_for('add_cafe') }}" method="POST">
              <div class="form-group">
                <label for="name">Nome do café</label>
                <input type="text" class="form-control" id="name" name="name" required>
              </div>
              <div class="form-group">
                <label for="map_url">URL do mapa</label>
                <input type="text" class="form-control" id="map_url" name="map_url" required>
              </div>
              <div class="form-group">
                <label for="img_url">URL da imagem</label>
                <input type="text" class="form-control" id="img_url" name="img_url" required>
              </div>
              <div class="form-group">
                <label for="location">Localização</label>
                <input type="text" class="form-control" id="location" name="location" required>
              </div>
              <div class="form-group">
                <label for="seats">Quantidade de assentos</label>
                <input type="number" class="form-control" id="seats" name="seats" required>
              </div>
              <div class="form-group">
                <label for="coffee_price">Preço do café</label>
                <input type="text" class="form-control" id="coffee_price" name="coffee_price" required>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="has_toilet" name="has_toilet">
                <label class="form-check-label" for="has_toilet">Possui banheiro?</label>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="has_wifi" name="has_wifi">
                <label class="form-check-label" for="has_wifi">Possui Wi-Fi?</label>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="has_sockets" name="has_sockets">
                <label class="form-check-label" for="has_sockets">Possui tomadas?</label>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="can_take_calls" name="can_take_calls">
                <label class="form-check-label" for="can_take_calls">Pode receber ligações?</label>
              </div>
              <button type="submit" class="btn btn-primary">Adicionar café</button>
            </form>
          </div>
        </div>
      </div>
{% endblock %}
